@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin:0;
    background: rgb(10, 10, 10) ;
    color: white;
    font-family: 'Poppins', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;

}

.hero-wrapper{
    background: white;
    color: black;
}

.wrapper{
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
    
}

header{
    display: flex;
    justify-content: space-between;
    

    .logo{
        font-weight: bold;

    }
    
    ul{
       display: flex;

        li a{
            padding: 0 .6em;
            
        }

    
    }

    li:hover{
        font-weight: bolder;
        text-decoration: underline royalblue ;
    }
}


.hero-content{
    margin: 8em 0 8em;
    
    .subtitle{
        margin-bottom: 0;
    }
}

.skill-list{
    display: grid;
    text-align: center;
    justify-content: space-around;
    margin-top: 2em;

    li{
        margin: 1em;
    }

    img{
        filter: invert(1);
        width: 80px;
    }

    h5{
        font-weight: normal;
        font-size: medium;
    }

}

h2{
    text-align: center;
    position: relative;

}



@media (min-width:500px){
    .skill-list{
        display: grid;
        grid-template-columns: repeat(2,auto);
    } 

    h5{

        font-size: large;
    }

    img{
        width: 50px;
    }
}

@media(min-width:650px){
    body{
        font-size: 18px;
    }
}

@media (min-width:1250px){
    .skill-list{
        display: grid;
        grid-template-columns: repeat(4,auto);
    } 
}