@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 10% 0% 5%;
    background-color: rgb(39, 39, 39);
    margin: auto;
}

body{
    height: 100vh ;
    margin: 0;
    font-size: 2em;
}
section{
    padding: 5% 20% 10% 5%;
    height: fit-content;
}

section:nth-of-type(2){
    padding: 200px 100px;
    background: rgb(48, 108, 238);
    color: white;
}

.logo{
    cursor: pointer;
    padding-top: 0%;
    color: blanchedalmond;
    font-size: 25px;
}

.nav-links{
    list-style: none;
    text-decoration: none;
}

.nav-links li {
    display: inline-block;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: rgb(231, 205, 88);
}

.nav-links li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

