*{
    box-sizing: content-box;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
}
section{
    padding: 8em 5em;
    height: fit-content;
}

section:nth-of-type(2){
    background: rgb(48, 108, 238);
    color: white;
}